spring:
  main:
    allow-bean-definition-overriding: true
  datasource:
    url: jdbc:mysql://mysql-db:3306/ecommerce_db?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Seoul
    username: sa
    password: sa
    driver-class-name: com.mysql.cj.jdbc.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        show_sql: false
  
  data:
    redis:
      host: redis
      port: 6379
