spring:
  datasource:
    url: jdbc:mysql://localhost:3306/ecommerce?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Seoul
    username: sa
    password: sa
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        show_sql: false
  data:
    redis:
      host: localhost
      port: 6379

logging:
  level:
    root: INFO
    com.phm.ecommerce: INFO
    com.phm.ecommerce.config.DataSeeder: INFO
